---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout>
  <h1>Vælg dit favorit abonnement</h1>
</MainLayout>
