---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import mellemkasse from "../assets/images/medium.webp";
import pil from "../assets/images/v.webp";
import Plus18 from "../components/Plus18.astro";
---
<Plus18 />
<MainLayout title="Kasse">
  <h1 class="text-center">din bestilling</h1>
  <div class="text-center">
    <p class="inline-flex items-center my-voress">
      <a href="/bestil" class="font-regular">Vælg</a>

      <Image src={pil} alt="pil" class="mx-voress w-4 opacity-100 -rotate-90" />

      <a href="/betal" class="font-bold">Betal</a>
    </p>
  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 m-voress">
    <div class="w-full">
      <div class="w-full max-w-lg mx-auto">
        <form class="mb-4">
          <div class="mb-4">
            <h3 class="">KONTAKT</h3>
            <label for="email" class="block text-sm font-medium text-lilla-950">
            </label>
            <input
              type="email"
              id="email"
              class="w-full border border-lilla-950 focus:border-lilla-950 rounded-lg bg-gul-25"
              placeholder="Din email"
              required
            />
          </div>

          <div class="flex items-center gap-2 mb-4">
            <input
              id="remember"
              type="checkbox"
              class="w-4 h-4 border border-lilla-950 rounded focus:ring-2 focus:ring-lilla-950"
            />
            <label for="remember" class=""> Tilmeld mig nyhedsbrevet </label>
          </div>

          <div class="mb-4">
            <h3 class="">Adresse</h3>
            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
              placeholder="Land"
              required
            />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-4">
              <div class="w-full">
                <label for="floating_first_name" class="block mb-1"> </label>
                <input
                  type="text"
                  id="floating_first_name"
                  class="w-full border-lilla-950 text-lilla-950 focus:border-lilla-950 border rounded-lg p-2.5 bg-gul-25"
                  placeholder="Fornavn"
                  required
                />
              </div>
              <div class="w-full">
                <label for="floating_last_name" class="block mb-1"> </label>
                <input
                  type="text"
                  id="floating_last_name"
                  class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
                  placeholder="Efternavn"
                  required
                />
              </div>
            </div>

            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
              placeholder="Adresse"
              required
            />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
              <div class="w-full">
                <label for="by" class="block mb-1"> </label>
                <input
                  type="text"
                  id="by"
                  class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
                  placeholder="By"
                  required
                />
              </div>
              <div class="w-full">
                <label for="floating_last_name" class="block mb-1"> </label>
                <input
                  type="text"
                  id="floating_last_name"
                  class="w-full border-lilla-950 focus:border-lilla-950 text-lilla-950 border rounded-lg p-2.5 bg-gul-25"
                  placeholder="Postnr"
                  required
                />
              </div>
            </div>
          </div>
          <label for="tel" class="block mb-1"> </label>
          <input
            type="tel"
            id="tel"
            class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
            placeholder="Telefon nr."
            required
          />
        </form>

        <form>
          <div class="mb-4">
            <h3 class="font-medium text-lg">Fragtmetode</h3>
            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
              placeholder="Indtast din adresse for at se  fragtsmetoder"
              required
            />
          </div>
        </form>

        <form>
          <div class="mb-4">
            <h3 class="font-medium text-lg">Betaling</h3>
            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
              placeholder="Kortnummer"
              required
            />
          </div>
          <div class="w-full">
            <label for="by" class="block mb-1"> </label>
            <input
              type="text"
              id="by"
              class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
              placeholder="Fuldenavn"
              required
            />
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div class="w-full">
              <label for="by" class="block mb-1"> </label>
              <input
                type="text"
                id="by"
                class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
                placeholder="Kontonummer"
                required
              />
            </div>

            <div class="w-full">
              <label for="floating_last_name" class="block mb-1"> </label>
              <input
                type="text"
                id="floating_last_name"
                class="w-full border border-lilla-950 text-lilla-950 focus:border-lilla-950 rounded-lg p-2.5 bg-gul-25"
                placeholder="CVC"
                required
              />
            </div>
            <div class="max-w-xl">
              <a href="/bestil"><Button variant="primary">Betale</Button></a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div
      class="rounded mt-voress bg-blaa-300 max-h-fit self-start sticky top-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
        <div class="flex justify-center">
          <Image src={mellemkasse} alt="mellemkasse" class="m-voress" />
        </div>
        <div class="mb-voresl">
          <h3>Den mellemstore</h3>
          <p class="text-lg leading-relaxed mt-voresxs">3 Flasker pr. måned</p>
        </div>
      </div>
      <form>
        <div class="flex items-center justify-between m-voresxs">
          <div class="w-full">
            <label for="by" class="block mb-1"> </label>
            <input
              type="text"
              id="by"
              class="bg-blaa-200 w-full border border-lilla-950 focus:border-lilla-950 rounded-lg p-2.5"
              placeholder="Rabatkode eller gavekort"
              required
            />
          </div>
          <div class="ml-voresl">
            <a href="/bestil"><Button variant="secondary">Indløs</Button></a>
          </div>
        </div>
      </form>
      <div class="m-voresxs">
        <div class="flex items-center justify-between mt-4">
          <span class="">Subtotal</span>
          <span class="">450 DKK</span>
        </div>

        <div class="flex items-center justify-between mt-1">
          <span class="">Fragt</span>
          <span class="">Gratis</span>
        </div>

        <div class="flex items-center justify-between mt-4 pt-4">
          <span class="font-bold">Total</span>
          <span class="font-bold">450 DKK</span>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
