---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout>
  <h1>din bestilling</h1>
  <div class="text-center">
    <p>
      <a href="/bestil" class="hover:underline">Vælg</a>
      <a href="/betal" class="hover:underline">Betal</a>
    </p>
  </div>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
    <div class="w-full">
      <div class="w-full max-w-lg mx-auto">
        <form>
          <div class="mb-4">
            <h3 class="">KONTAKT</h3>
            <label
              for="email"
              class="block text-sm font-medium text-gray-900 dark:text-white mb-1"
            >
            </label>
            <input
              type="email"
              id="email"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg"
              placeholder="Din email"
              required
            />
          </div>

          <div class="flex items-center gap-2 mb-4">
            <input
              id="remember"
              type="checkbox"
              class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 focus:ring-blue-300"
            />
            <label for="remember" class=""> Tilmeld mig nyhedsbrevet </label>
          </div>

          <div class="mb-4">
            <h3 class="">Adresse</h3>
            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Land"
              required
            />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4 mt-4">
              <div class="w-full">
                <label for="floating_first_name" class="block mb-1"> </label>
                <input
                  type="text"
                  id="floating_first_name"
                  class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700"
                  placeholder="Fornavn"
                  required
                />
              </div>
              <div class="w-full">
                <label
                  for="floating_last_name"
                  class="block dark:text-white mb-1"
                >
                </label>
                <input
                  type="text"
                  id="floating_last_name"
                  class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                  placeholder="Efternavn"
                  required
                />
              </div>
            </div>

            <label for="text" class="block dark:text-white mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Adresse"
              required
            />

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
              <div class="w-full">
                <label for="by" class="block dark:text-white mb-1"> </label>
                <input
                  type="text"
                  id="by"
                  class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                  placeholder="By"
                  required
                />
              </div>
              <div class="w-full">
                <label
                  for="floating_last_name"
                  class="block dark:text-white mb-1"
                >
                </label>
                <input
                  type="text"
                  id="floating_last_name"
                  class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                  placeholder="Postnr"
                  required
                />
              </div>
            </div>
          </div>
          <label for="tel" class="block dark:text-white mb-1"> </label>
          <input
            type="tel"
            id="tel"
            class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
            placeholder="Telefon nr."
            required
          />
        </form>

        <form>
          <div class="mb-4">
            <h3 class="font-medium text-lg">Fragtmetode</h3>
            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Indtast din adresse for at se  fragtsmetoder"
              required
            />
          </div>
        </form>

        <form>
          <div class="mb-4">
            <h3 class="font-medium text-lg">Betaling</h3>
            <label for="text" class="block mb-1"> </label>
            <input
              type="text"
              id="text"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Kortnummer"
              required
            />
          </div>
          <div class="w-full">
            <label for="by" class="block mb-1"> </label>
            <input
              type="text"
              id="by"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Fuldenavn"
              required
            />
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <div class="w-full">
              <label for="by" class="block dark:text-white mb-1"> </label>
              <input
                type="text"
                id="by"
                class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                placeholder="Kontonummer"
                required
              />
            </div>

            <div class="w-full">
              <label
                for="floating_last_name"
                class="block dark:text-white mb-1"
              >
              </label>
              <input
                type="text"
                id="floating_last_name"
                class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                placeholder="CVC"
                required
              />
            </div>
            <p>knap her</p>
          </div>
        </form>
      </div>
    </div>

    <div
      class="rounded-3xl p-6 bg-farvenavn-blaa max-h-fit self-start sticky top-4"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
        <div class="flex justify-center">
          <p>bilde her</p>
        </div>
        <div class="">
          <h3 class="text-farvenavn-lilla">Den mellemstore</h3>
          <p class="text-lg leading-relaxed">3 Flasker pr. måned</p>
        </div>
      </div>
      <form>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          <div class="w-full">
            <label for="by" class="block mb-1"> </label>
            <input
              type="text"
              id="by"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Rabatkode eller gavekort"
              required
            />
          </div>
          <div class="w-full">
            <label for="floating_last_name" class="block dark:text-white mb-1">
            </label>
            <input
              type="text"
              id="floating_last_name"
              class="w-full bg-gray-50 border border-gray-300 rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              placeholder="Indløs knap her"
              required
            />
          </div>
        </div>
      </form>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 pt-5">
        <p>Subtotal</p>
        <p>450 dkk</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <p>Fragt</p>
        <p>Gratis</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <p>Total</p>
        <p>450 dkk</p>
      </div>
    </div>
  </section>
</MainLayout>
