---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import thinking from "../assets/images/thinking.webp";
---

<MainLayout>
  <h1 class="text-center">Hva undrer du deg over?</h1>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 p-4">
    <div class="max-w-4xl mx-auto my-8 p-voresm bg-blaa-300 rounded-card">
      <div class="space-y-4">
        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-blaa-300 rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq1Button"
          >
            Hvad indebærer et abonnement?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq1Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Hver måned vil du som medlem af naturvinskassen modtage 3 flasker
              udvalgt vin, som alle er lavet ud fra et naturligt udgangspunkt.
              Derudover vil du modtage en opskrift, kreeret af en restaurant
              og/eller en kok, som vi har meget kær. Udførlige beskrivelser af
              vinene vil selvfølgelig også medfølge, hver måned! Ved første
              levering modtager du en specialdesignet proptrækker, så har du
              noget godt værktøj at gå i krig med.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq2Button"
          >
            Hvornår bliver min kasse så leveret?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq2Answer" class="faq-answer hidden px-4 py-2">
            <p>Du vil få din naturvinskasse leveret hver måned.</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq3Button"
          >
            Hvornår bliver min betaling trukket?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq3Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Din kasse vil blive leveret til dig, i starten af måneden.
              Bestiller du 'Strakslevering' ved oprettelse af dit medlemskab, så
              vil din kasse afsendes inden for 1 hverdag.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq4Button"
          >
            Hvad skal jeg gøre, hvis en vin er defekt?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq4Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Se, det er ikke så godt! Men det finder vi selvfølgelig en løsning
              på. Naturligvis hel uden meromkostning fra din side! Skriv os en
              mail på info@reduktivt.com, så finder vi ud af det.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq5Button"
          >
            Binder jeg mig i en bestemt periode?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq5Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Det gør du ikke, nej. Vi har ingen binding eller skjulte agendaer.
              Du kan melde dig fra eller sætte dit abonnement på pause, præcis
              når du vil.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq6Button"
          >
            Hvordan bliver min vin leveret?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq6Answer" class="faq-answer hidden px-4 py-2">
            <p class="max-w-xs">
              Afhentning Din naturvinskasse kan afhentes i Aarhus, Borggade 16.
              Hele danmark Din naturvinskasse leveres enten til DAO Pakkeshop
              (Gratis) eller via DAO hjemmelevering (tillæg). Du vælger din
              leveringsmetode når du bestiller dit abonnement. Cykelbude
              (hjemmelevering, Aarhus) Din vin bliver leveret med Velopak's
              cykelbude, direkte til din bopæl.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq7Button"
          >
            Kan man få leveret vin i hele landet?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq7Answer" class="faq-answer hidden px-4 py-2">
            <p>Vi levere til alle danske brofaste øer.</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq8Button"
          >
            Kan jeg ændre min leveringsadresse?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq8Answer" class="faq-answer hidden px-4 py-2">
            <p>
              Ja, du kan ændre leveringsadressen under kontoindstillinger...
            </p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-farvenavn-lilla-200 rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq9Button"
          >
            Hvordan opdaterer jeg mine private indstillinger?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq9Answer" class="faq-answer hidden px-4 py-2">
            <p>Du kan opsige dit abonnement ved at kontakte kundeservice...</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq10Button"
          >
            Er der ekstra gebyrer ved levering?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq10Answer" class="faq-answer hidden px-4 py-2">
            <p>Nej, der er ingen ekstra gebyrer ved levering...</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq11Button"
          >
            Hvordan afmelder jeg mit abonnement?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq11Answer" class="faq-answer hidden px-4 py-2">
            <p>Ja, vi tilbyder erstatning for beskadigede flasker...</p>
          </div>
        </div>

        <div class="faq-item">
          <button
            class="w-full text-left px-4 py-2 text-lg font-semibold bg-farvenavn-lilla-200 rounded-lg focus:outline-none hover:bg-farvenavn-lilla-300 flex justify-between items-center"
            id="faq12Button"
          >
            Hvordan opdaterer jeg mine private indstillinger?
            <span class="faq-arrow">&#9660;</span>
          </button>
          <div id="faq12Answer" class="faq-answer hidden px-4 py-2">
            <p>Du kan kontakte kundeservice via e-mail eller telefon...</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex justify-center">
        <Image src={thinking} alt="vinglas" class="max-w-44 mt-voresl" />
      </div>
      <div class="bg-graa-200 rounded-card mt-38">
        <div class="p-4">
          <h3 class="text-xl font-bold text-center">Brug for hjælp?</h3>
          <p class="text-center">
            Skriv til os her og vi vender tilbage hurtigst muligt
          </p>

          <form class="max-w-sm mx-auto">
            <div class="mb-5">
              <label
                for="text"
                class="block mb-2 text-sm font-medium dark:text-white"></label>
              <input
                type="text"
                id="text"
                class="bg-farvenavn-lysgraa border border-textfarve-farvenavn-lilla text-sm rounded-lg focus:ring-farvenavn-farvenavn-lilla focus:border-farvenavn-farvenavn-lilla block w-full p-2.5 dark:bg-farvenavn-farvenavn-lilla dark:border-farvenavn-lilla-600 dark:placeholder-farvenavn-lilla-400 dark:text-white dark:focus:ring-farvenavn-farvenavn-lilla dark:focus:border-farvenavn-farvenavn-lilla"
                required
                placeholder="Dit navn"
              />
            </div>
            <div class="mb-5">
              <label
                for="email"
                class="block mb-2 text-sm font-medium dark:text-white"></label>
              <input
                type="email"
                id="email"
                class="bg-farvenavn-lysgraa border border-textfarve-farvenavn-lilla rounded-lg focus:ring-farvenavn-farvenavn-farvenavn-lilla focus:border-farvenavn-farvenavn-farvenavn-lilla block w-full p-2.5 dark:bg-farvenavn-farvenavn-farvenavn-lilla dark:border-farvenavn-farvenavn-lilla-600 dark:placeholder-farvenavn-farvenavn-lilla-400 dark:text-white dark:focus:ring-farvenavn-farvenavn-farvenavn-lilla dark:focus:border-farvenavn-farvenavn-farvenavn-lilla"
                placeholder="Din email"
                required
              />
            </div>
            <div class="max-w-sm mx-auto">
              <label
                for="message"
                class="block mb-2 text-sm font-medium text-farvenavn-farvenavn-lilla-900 dark:text-white"
              ></label>
              <textarea
                id="message"
                rows="4"
                class="bg-farvenavn-lysgraa border border-textfarve-farvenavn-farvenavn-lilla text-sm rounded-lg focus:ring-farvenavn-farvenavn-farvenavn-lilla focus:border-farvenavn-farvenavn-farvenavn-lilla block w-full p-2.5 dark:bg-farvenavn-farvenavn-farvenavn-lilla dark:border-farvenavn-farvenavn-lilla-600 dark:placeholder-farvenavn-farvenavn-lilla-400 dark:text-white dark:focus:ring-farvenavn-farvenavn-farvenavn-lilla dark:focus:border-farvenavn-farvenavn-farvenavn-lilla"
                placeholder="Dit spørgsmål..."></textarea>
            </div>
          </form>
          <div class="text-center m-voress">
            <a href="/bestil"
              ><Button variant="secondary">Find dit abonnement</Button></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <script type="module" client:load>
    function toggleAnswer(buttonId, answerId) {
      const button = document.getElementById(buttonId);
      const answer = document.getElementById(answerId);
      const arrow = button.querySelector(".faq-arrow");

      answer.classList.toggle("hidden");
      arrow.innerHTML = answer.classList.contains("hidden")
        ? "&#9660;"
        : "&#9650;";
    }

    for (let i = 1; i <= 12; i++) {
      const buttonId = `faq${i}Button`;
      const answerId = `faq${i}Answer`;
      document.getElementById(buttonId).addEventListener("click", () => {
        toggleAnswer(buttonId, answerId);
      });
    }
  </script>
</MainLayout>
