---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import BestilCards from "../components/BestilCards.astro";
import Heroindex from "../components/Heroindex.astro";
import Jointheclub from "../components/Jointheclub.astro";
---

<MainLayout title="NATURVINSKASSEN">
  <article>
    <Heroindex />
    <Jointheclub />
    <BestilCards />

    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
  </article>
</MainLayout>
