---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import BestilCards from "../components/BestilCards.astro";
---

<MainLayout title="Titel">
  <article>
    <h1>OM OS</h1>

    <section class="max-w-7xl mx-auto px-4 py-8">
      <div class="p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="">
            <h2 class="">Hvem er vi</h2>
            <p class="text-lg leading-relaxed">
              Vi er såmænd bare Rasmus og Michael. Et makkerpar, som slog
              pjalterne sammen i Århus, til fælles kamp for udbredelsen af
              naturvin. Sammen startede vi Reduktivt, som er vores
              naturvinsbutik og importfirma, i hjertet af Århus. Herfra
              servicere vi tørstige og nysgerrige naturvinsdrikkere, samt mange
              af landet bedste restauranter.  Igennem dette opstod ideen til
              Naturvinskassen. Vores lille abonnements-hjertebarn, som med tiden
              har vokset sig til et selvstændigt, nysgerrigt og evigt tørstigt
              væsen. Altid på jagt efter nye oplevelser. Til glæde for alle
              vores medlemmer, selvfølgelig.
            </p>
            <p>knap her</p>
          </div>
          <div class="flex justify-center">
            <p>bilde her</p>
          </div>
        </div>
      </div>
    </section>

    <section class="max-w-7xl mx-auto px-4 py-8">
      <div class="bg-blue-100 rounded-3xl p-6 shadow-lg">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="flex justify-center">
            <p>bilde her</p>
          </div>
          <div class="">
            <h2 class="">illustasjon</h2>
            <p class="text-lg">
              Vores arbejde med Naturvinskassen handler først og fremmest om at
              videreformidle og dele oplevelser, med alle vores medlemmer! Det
              er lige præcis dét, som vi hele tiden bestræber os på.  Vi støder
              på rigtig, rigtig mange vinbønder og smager endnu flere vine.
              Noget smager godt, noget smager knap så godt, og noget smager så
              godt, at vi bliver nødt til at dele det med alle vores medlemmer.
            </p>
            <p>knap her</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h1>Erfaring og viden</h1>
      <div>
        <p>gif her</p>
        <h3>30 år i restaurationsbranchen</h3>
        <p>
          Tæller man efter, har vi til sammen tilbagelagt omkring 30 år i
          restaurationsbranchen. Med andre ord, så har vi skænket vores del vin,
          og fortalt mindst ligeså mange røverhistorier.  Så man kan vidst
          roligt sige, at vi har erfaring og viden med i bagagen.
        </p>
      </div>
      <div>
        <p>gif her</p>
        <h3>Michelin og landets bedste vinbarer</h3>
        <p>
          Et vigtigt element for os begge, har altid været arbejdet med
          naturvinen. Et fokusområde som vi har implementeret på samtlige af de
          steder vi har arbejdet igennem tiden. Steder som tæller alt ligefra
          Michelin-restauranter til nogle af landets absolut bedste
          vinbarer. Dette kombineret med en umættelig nysgerrighed og interesse
          for vinen, gør, at vi kan videregive fantastiske oplevelser til alle
          jer.
        </p>
      </div>
      <div>
        <p>gif her</p>
        <h3>Smagsløg blandet med fornuft</h3>
        <p>
          Fælles for os begge er, at vi værdsætter vin uden manipulation. Vin,
          som blot er vin, uden alverdens tilsætningsstoffer i mark og kælder.
          Naturvin gør både godt for ganen og bæredygtigheden. Derfor har det
          altid handlet om naturvin for os. Det synes vi giver bedst mening!
        </p>
      </div>
    </section>

    <BestilCards />

    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={thumbsup} alt="" />
  </article>
</MainLayout>
