---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import pil2 from "../assets/images/arrowtwo.webp";
import Button from "../components/Button.astro";
import fork from "../assets/images/fork.webp";
import michelin from "../assets/images/michelin.webp";
import spark from "../assets/images/spark.webp";
---

<MainLayout title="om os">
  <h1 class="text-center pb-voresl">Om os</h1>
  <article>
    <section class="max-w-7xl mx-auto px-4 py-8">
      <div class="p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="">
            <h2 class="">Hvem er vi</h2>
            <p class="leading-relaxed">
              Vi er såmænd bare Rasmus og Michael. Et makkerpar, som slog
              pjalterne sammen i Århus, til fælles kamp for udbredelsen af
              naturvin. Sammen startede vi  <a class="underline" target="_blank" href="https://reduktivt.dk/">Reduktivt</a>, som er vores
              naturvinsbutik og importfirma, i hjertet af Århus. Herfra
              servicere vi tørstige og nysgerrige naturvinsdrikkere, samt mange
              af landet bedste restauranter.  Igennem dette opstod ideen til
              Naturvinskassen. Vores lille abonnements-hjertebarn, som med tiden
              har vokset sig til et selvstændigt, nysgerrigt og evigt tørstigt
              væsen. Altid på jagt efter nye oplevelser. Til glæde for alle
              vores medlemmer, selvfølgelig.
            </p>
          </div>
          <div class="flex justify-center">
            <p>billede her</p>
          </div>
        </div>
      </div>
    </section>

    <section class="mx-auto">
      <div class="bg-farvenavn-blaa">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <div class="flex justify-center">
            <p>bilde her</p>
          </div>
          <div class="my-voresm">
            <h2 class="">Vores ønske</h2>
            <p class="">… er at videreformidle & dele oplevelser!</p>
            <p class="">
              Vores arbejde med Naturvinskassen handler først og fremmest om at
              videreformidle og dele oplevelser, med alle vores medlemmer! Det
              er lige præcis dét, som vi hele tiden bestræber os på.  Vi støder
              på rigtig, rigtig mange vinbønder og smager endnu flere vine.
              Noget smager godt, noget smager knap så godt, og noget smager så
              godt, at vi bliver nødt til at dele det med alle vores medlemmer.
            </p>
          </div>
        </div>
      </div>
    </section>
    <article class="px-margin pb-voress">
      <h2 class="text-center py-voress">Erfaren og viden</h2>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div><div class="flex justify-center">
          <Image src={fork} alt="tallerken" class="max-w-voresl pb-voress scale-[1.5]" />
        </div>
        <h3 class="text-center">30 år i restaurationsbranchen</h3>
        <p class="py-voresxs mx-voress">
          Tæller man efter, har vi til sammen tilbagelagt omkring 30 år i restaurationsbranchen. Med andre ord, så har vi skænket vores del vin, og fortalt mindst ligeså mange røverhistorier. 
Så man kan vidst roligt sige, at vi har erfaring og viden med i bagagen.
        </p>
      </div></div>
      <div></div>
      <div class="md:grid grid-cols-2 mb-voresm md:mb-0">
        <div>
        </div>
        <div>
          <div class="mb-voresm md:mb-0">
            <div>
              <div class="flex justify-center">
                <Image src={michelin} alt="michelin logo" class="max-w-voresm pb-voress scale-[2]" />
              </div>
              <h3 class="text-center">Michelin og landets bedste vinbarer</h3>
              <p class="py-voresxs mx-voress">
                Et vigtigt element for os begge, har altid været arbejdet med naturvinen. Et fokusområde som vi har implementeret på samtlige af de steder vi har arbejdet igennem tiden. Steder som tæller alt ligefra Michelin-restauranter til nogle af landets absolut bedste vinbarer. Dette kombineret med en umættelig nysgerrighed og interesse for vinen, gør, at vi kan videregive fantastiske oplevelser til alle jer.
              </p>
            </div>
        </div>
      </div>
      <div class="mb-voresm md:mb-0">
        <div>
          <div class="flex justify-center">
            <Image src={spark} alt="naturvin" class="max-w-44 pb-voress" />
          </div>
          <h3 class="text-center">Smagsløg blandet med fornuft</h3>
          <p class="py-voresxs mx-voress">
            Fælles for os begge er, at vi værdsætter vin uden manipulation. Vin, som blot er vin, uden alverdens tilsætningsstoffer i mark og kælder. Naturvin gør både godt for ganen og bæredygtigheden. Derfor har det altid handlet om naturvin for os. Det synes vi giver bedst mening!
          </p>
        </div>
      </div>
    </article>
    <section class="px-margin">
      <div class="ml-voresm pt-voresl">
        <p class="-rotate-12 pb-28">Lyder det som noget for dig?</p>
        <Image src={pil2} alt="vinglas" class="max-w-voresm ml-voresl" />
      </div>
    </section>
    <section>
      <h2 class="text-center">Bestil dit abonnement her</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
        <Card
          title="Den lille"
          image="https://via.placeholder.com/300/ff7f7f"
        />
        <Card
          title="Den mellomstore"
          image="https://via.placeholder.com/300/7f7fff"
        />
        <Card
          title="Den store"
          image="https://via.placeholder.com/300/7fff7f"
        />
        <Card
          title="Skræddersy"
          image="https://via.placeholder.com/300/ffff7f"
        />
      </div>

      <p>
        Link til <Link href="https://www.kea.dk" target="_blank"
          >En anden side</Link
        >
      </p>
    </section>
    <div class="text-center mb-voress">
      <a href="/bestil"><Button variant="secondary">Se abonnementer</Button></a>
    </div>
  </article>
</MainLayout>
