---

---

<section class="mx-auto">
  <div class="bg-farvenavn-blaa">
    <h2 class="text-center">Anmeldelser</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
      <div>
        <a
          href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h4 class="">stjerner</h4>
          <h4 class="">NEMT OG GODT</h4>
          <p class="">
            Vi har brugt Naturvinskassen gennem flere år og elsker det hver
            gang.
          </p>
        </a>
      </div>
      <div>
        <a
          href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h4 class="">stjerner</h4>
          <h4 class="">VI ELSKER DET!</h4>
          <p class="">Mega god vin og rigtig god service!</p>
        </a>
      </div>
      <div>
        <a
          href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h4 class="">stjerner</h4>
          <h4 class="">RIKTIG GOD VIN</h4>
          <p class="">Vi får altid mange forskellige interessante naturvine!</p>
        </a>
      </div>
      <div>
        <a
          href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <h4 class="">stjerner</h4>
          <h4 class="">GODT TIL PRISEN</h4>
          <p class="font-normal text-gray-700 dark:text-gray-400">
            Kvaliteten af vinen er rigtig høj og prisen er lav - perfekt!
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
