---
import Button from "../components/Button.astro";
---

<section class="relative w-full bg-gray-100 pb-32 mx-auto bg-farvenavn-blaa">
  <h2 class="text-center text-2xl font-bold text-white mb-8">Anmeldelser</h2>

  <div class="relative w-full overflow-hidden">
    <div
      id="carouselItems"
      class="flex transition-transform duration-700 ease-in-out gap-8"
    >
      <div class="flex gap-6 w-max">
        <div class="flex flex-col bg-white rounded-lg p-8 w-80 ml-voresm">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★★</h4>

          <h4 class="text-xl font-bold mb-4">NEMT OG GODT</h4>

          <p class="text-gray-600 text-sm">
            Vi har brugt Naturvinskassen gennem flere år og elsker det hver
            gang.
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★★</h4>

          <h4 class="text-xl font-bold mb-4">VI ELSKER DET!</h4>

          <p class="text-gray-600 text-sm">
            Mega god vin og rigtig god service!
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★☆</h4>

          <h4 class="text-xl font-bold mb-4">RIGTIG GOD VIN</h4>

          <p class="text-gray-600 text-sm">
            Vi får altid mange forskellige interessante naturvine!
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★★</h4>

          <h4 class="text-xl font-bold mb-4">GLÆDER OS HVER GANG</h4>

          <p class="text-gray-600 text-sm">
            Vi ser alltid frem til vores levering.
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★☆</h4>

          <h4 class="text-xl font-bold mb-4">GLÆDER OS HVER GANG</h4>

          <p class="text-gray-600 text-sm">
            Vi ser alltid frem til vores levering.
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★★</h4>

          <h4 class="text-xl font-bold mb-4">GLÆDER OS HVER GANG</h4>

          <p class="text-gray-600 text-sm">
            Vi ser alltid frem til vores levering.
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★★</h4>

          <h4 class="text-xl font-bold mb-4">GLÆDER OS HVER GANG</h4>

          <p class="text-gray-600 text-sm">
            Vi ser alltid frem til vores levering.
          </p>
        </div>

        <div class="flex flex-col bg-white rounded-lg p-8 w-80">
          <h4 class="text-yellow-500 font-bold text-2xl mb-4">★★★★★</h4>

          <h4 class="text-xl font-bold mb-4">GLÆDER OS HVER GANG</h4>

          <p class="text-gray-600 text-sm">
            Vi ser alltid frem til vores levering.
          </p>
        </div>
      </div>
    </div>

    <button
      id="prev"
      class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-white text-black p-3 rounded-full cursor-pointer hover:bg-gray-200"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button
      id="next"
      class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-white text-black p-3 rounded-full cursor-pointer hover:bg-gray-200"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>

    <div class="text-center">
      <a
        href="https://dk.trustpilot.com/review/naturvinskassen.dk"
        target="_blank"
      >
        <Button variant="secondary">Se alle Trustpilot anmeldelser</Button>
      </a>
    </div>
  </div>

  <script>
    let currentIndex = 0;
    const itemsPerView = 4;
    const carouselItems = document.getElementById("carouselItems");
    const totalItems = carouselItems.children[0].children.length;

    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");

    function updateCarousel() {
      const offset = (-currentIndex * 100) / itemsPerView;
      carouselItems.style.transform = `translateX(${offset}%)`;
    }

    prevButton.addEventListener("click", () => {
      currentIndex = Math.max(currentIndex - 1, 0);
      updateCarousel();
    });

    nextButton.addEventListener("click", () => {
      currentIndex = Math.min(
        currentIndex + 1,
        Math.floor(totalItems / itemsPerView) - 1
      );
      updateCarousel();
    });

    updateCarousel();
  </script>
</section>
