---
import { Image } from "astro:assets";
import drop from "../assets/images/drop-01.webp";
---

<div class="flex items-center justify-center absolute inset-x-0 pb-voresl">
  <Image
    src={drop}
    alt="drop"
    class="hidden md:block dropinview max-w-voress"
  />
</div>

<script>
  import { inView, animate } from "motion";

  inView(".dropinview", () => {
    animate(".dropinview", { y: [0, 1250] }, { duration: 10 });
  });
</script>