---
import { Image } from "astro:assets";
import logo from "../assets/images/logomanlight.webp";
---

<section class="p-6 bg-farvenavn-roed rounded-t-3xl mt-voresl h-full">
  <section class="flex flex-wrap justify-between gap-4">

    <nav>
      <h3 class="mt-voresxs text-farvenavn-hvid mb-voresxs">Kontakt</h3>
      <ul>
        <li class="text-gul-50">Borggade 16, 8000 Aarhus C</li>
        <li class="text-gul-50">+45 40 38 40 12</li>
        <li class="text-gul-50"><a href="mailto:info@reduktivt.com">info@reduktivt.com</a></li>
        <li class="text-gul-50">CVR: 3984978</li>
        <li class="text-gul-50">Coptright 2024© by TK Webbureau</li>
        <li class="text-gul-50"><a href="/faq">FAQ</a></li>
      </ul>
    </nav>

    <nav>
      <h3 class="mt-voresxs text-farvenavn-hvid mb-voresxs">Formalitet</h3>
      <ul>
        <li class="text-gul-50">Vi spørger om ID før køb</li>
        <li class="text-gul-50">Privatpolitik</li>
        <li class="text-gul-50">Handelsbetingelser</li>
        <li class="text-gul-50">Abonnementsbetingelser</li>
        <li class="text-gul-50">Artikler</li>
        <li class="text-gul-50">Betalingsmuligheder</li>
      </ul>
    </nav>

    <nav>
      <h3 class="mt-voresxs text-farvenavn-hvid mb-voresxs">Join the club!</h3>
      <ul>
        <li class="text-gul-50" >
          <a href="https://www.instagram.com/naturvinskassen/" target="_blank">Instagram</a>
        </li>
        <li class="text-gul-50" >
          <a href="https://www.facebook.com/Naturvinskassen/" target="_blank">Facebook</a>
        </li>
        <li class="text-gul-50"><a href="/konto">Login på din konto</a></li>
        <li class="text-gul-50" >Tilmeld dig vores nyhedsbrev</li>
        <li class="text-gul-50" >TILFØJ DE KNAPPER HER</li>
      </ul>
    </nav>

    <nav>
      <Image src={logo} alt="pil" class="w-1/4" />
    </nav>
  </section>


  <section class="text-center">
    <h1 class="text-xlfooter text-gul-50">Naturvinskassen</h1>
  </section>
</section>
