---
import { Image } from "astro:assets";
import logo from "../assets/images/logomanlight.webp";
---

<section class="p-6 bg-farvenavn-roed rounded-t-3xl">
<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-">
  <nav>
    <h3>kontakt</h3>
    <ul>
      <li>
        Borggade 16, 8000 Aarhus C
      </li>
      <li>
        +45 40 38 40 12
      </li>
      <li>
      <a href="mailto:info@reduktivt.com">info@reduktivt.com</a>
      </li>
      <li>
        CVR: 3984978
      </li>
      <li>
        Coptright 2024© by TK Webbureau
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
    </ul>
  </nav>
  <nav>
    <h3>Formalitet</h3>
    <ul>
      <>
        Vi spørger om ID før køb
      <li>
        Privatpolitik
      </li>
      <li>
        Handelsbetingelser
      </li>
      <li>
        Abonnementsbetingelser
      </li>
      <li>
        Artikler
      </li>
      <li>
        Betalingsmuligheder
      </li>
    </ul>
  </nav>
  <nav>
    <h3>Join the club!</h3>
    <ul>
      <li>
        <a href="https://www.instagram.com/naturvinskassen/" target="_blank" >Instagram</a>
      </li>
      <li>
        <a href="https://www.facebook.com/Naturvinskassen/" target="_blank">Facebook</a>
      </li>
      <li>
      <a href="/konto">Login på din konto</a>
      </li>
      <li>
        Tilmeld dig vores nyhedsbred
      </li>
      <li>
        TILFøJ DE KNAPPER DER HEH
      </li>
    </ul>
  </nav>
  <div>
    <img src="{logo}" alt="Logo" class="">
  </div>
</section>
<h1>Naturvinskassen</h1>
</section>