---
import { Image } from "astro:assets";
import logo from "../assets/images/logomanlight.webp";
---

<section class="p-6 bg-roed-600 rounded-t-3xl mt-voresl h-full">
  <section class="flex flex-wrap justify-between gap-4">
    <nav>
      <h3 class="mt-voresxs text-gul-50 mb-voresxs">Kontakt</h3>
      <ul>
        <li class="text-gul-50">Borggade 16, 8000 Aarhus C</li>
        <li class="text-gul-50">+45 40 38 40 12</li>
        <li class="text-gul-50">
          <a href="mailto:info@reduktivt.com">info@reduktivt.com</a>
        </li>
        <li class="text-gul-50">CVR: 3984978</li>
        <li class="text-gul-50">Coptright 2024© by TK Webbureau</li>
        <li class="text-gul-50"><a href="/faq">FAQ</a></li>
      </ul>
    </nav>

    <nav>
      <h3 class="mt-voresxs text-farvenavn-hvid mb-voresxs">Formalitet</h3>
      <ul>
        <li class="text-gul-50">Vi spørger om ID før køb</li>
        <li class="text-gul-50">Privatpolitik</li>
        <li class="text-gul-50">Handelsbetingelser</li>
        <li class="text-gul-50">Abonnementsbetingelser</li>
        <li class="text-gul-50">Artikler</li>
        <li class="text-gul-50">Betalingsmuligheder</li>
      </ul>
    </nav>

    <nav>
      <h3 class="mt-voresxs text-gul-50 mb-voresxs">Join the club!</h3>
      <ul>
        <li class="text-gul-50 flex items-center space-x-2">
          <a
            href="https://www.instagram.com/naturvinskassen/"
            target="_blank"
            class="flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
              class="w-6 h-6 mr-2"
            >
              <path
                d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.332 3.608 1.308.975.976 1.245 2.243 1.307 3.608.058 1.267.07 1.647.07 4.85s-.012 3.584-.07 4.85c-.062 1.366-.332 2.633-1.307 3.608-.976.976-2.243 1.245-3.608 1.307-1.267.058-1.647.07-4.85.07s-3.584-.012-4.85-.07c-1.366-.062-2.633-.332-3.608-1.307-.976-.976-1.245-2.243-1.307-3.608-.058-1.267-.07-1.647-.07-4.85s.012-3.584.07-4.85c.062-1.366.332-2.633 1.307-3.608.976-.976 2.243-1.245 3.608-1.307C8.416 2.175 8.796 2.163 12 2.163zm0-2.163C8.736 0 8.332.012 7.052.07 5.771.127 4.592.395 3.514 1.474 2.435 2.552 2.167 3.73 2.11 5.01.012 8.332 0 8.736 0 12s.012 3.668.07 4.948c.058 1.281.326 2.459 1.404 3.538 1.078 1.078 2.257 1.346 3.538 1.404C8.332 23.988 8.736 24 12 24s3.668-.012 4.948-.07c1.281-.058 2.459-.326 3.538-1.404 1.078-1.078 1.346-2.257 1.404-3.538C23.988 15.668 24 15.264 24 12s-.012-3.668-.07-4.948c-.058-1.281-.326-2.459-1.404-3.538C21.448 2.435 20.269 2.167 18.988 2.11 17.668.012 17.264 0 12 0zm0 5.838c-3.396 0-6.162 2.766-6.162 6.162s2.766 6.162 6.162 6.162 6.162-2.766 6.162-6.162-2.766-6.162-6.162-6.162zm0 10.324c-2.302 0-4.162-1.86-4.162-4.162s1.86-4.162 4.162-4.162 4.162 1.86 4.162 4.162-1.86 4.162-4.162 4.162zm6.406-11.845c-.796 0-1.444.648-1.444 1.444s.648 1.444 1.444 1.444 1.444-.648 1.444-1.444-.648-1.444-1.444-1.444z"
              ></path>
            </svg>
          </a>
        </li>
        <li class="text-gul-50 flex items-center space-x-2">
          <a
            href="https://www.facebook.com/Naturvinskassen/"
            target="_blank"
            class="flex items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
              class="w-6 h-6 mr-2"
            >
              <path
                d="M22.675 0H1.325C.594 0 0 .593 0 1.326v21.348C0 23.406.594 24 1.325 24H12.82v-9.294H9.692V10.41h3.128V7.797c0-3.1 1.893-4.788 4.658-4.788 1.325 0 2.464.099 2.795.143v3.24h-1.917c-1.505 0-1.796.715-1.796 1.763V10.41h3.588l-.467 3.296h-3.121V24h6.116c.73 0 1.324-.594 1.324-1.326V1.326C24 .593 23.406 0 22.675 0z"
              ></path>
            </svg>
          </a>
        </li>
        <li class="text-gul-50"><a href="/konto">Login på din konto</a></li>
        <li class="text-gul-50">Tilmeld dig vores nyhedsbrev</li>
        <li class="text-gul-50">TILFØJ DE KNAPPER HER</li>
      </ul>
    </nav>

    <nav>
      <Image src={logo} alt="pil" class="w-1/4" />
    </nav>
  </section>

  <section class="text-center">
    <h1 class="text-xlfooter text-gul-50">Naturvinskassen</h1>
  </section>
</section>
