---
import Button from "../components/Button.astro";
---

<div class="z-50 bg-gray-100">
  <div class="flex justify-between items-center p-5">
    <a href="/" class="text-lg font-bold">
      <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
        Naturvinkassen
      </h4></a
    >

    <button
      id="hamburgerButton"
      class="block md:hidden text-gray-500 hover:text-gray-700 focus:outline-none"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <div class="space-x-4 flex items-center hidden md:flex">
      <a href="/omos" class="">
        <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">Om os</h4></a
      >

      <div class="relative">
        <button id="naturvinskassenDropdown" class="">
          <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
            Naturvinskassen
            <svg
              class="inline-block w-2 h-2 ml-1"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 4 4 4-4"></path>
            </svg>
          </h4>
        </button>

        <div
          id="dropdownMenu"
          class="hidden absolute right-0 mt-2 w-48 bg-farvenavn-lysgraa rounded-lg sdark:bg-gray-800 dark:border-gray-700"
        >
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Strakslevering</a
              >
            </li>
            <li>
              <a
                href="/faq"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Faq</a
              >
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100">Kontakt</a>
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Betingelser</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Find dit abonnement</a
              >
            </li>
          </ul>
        </div>
      </div>

      <a href="#" id="toggleLogin" class="cursor-pointer"
        ><h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
          Login
        </h4></a
      >

      <a href="#" id="toggleDrawer" class="cursor-pointer"
        ><h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">Kurv</h4></a
      >
      <a href="/bestil">
        <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
          Bestil
        </h4></a
      >
    </div>
  </div>

  <div id="mobileMenu" class="md:hidden hidden bg-gray-100 w-full">
    <ul class="space-y-4 py-4">
      <li>
        <a href="/omos" class="block px-4 py-2 text-gray-900 hover:bg-gray-200"
          ><h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
            Om os
          </h4></a
        >
      </li>
      <li>
        <a
          href="#"
          id="mobileDropdownLink"
          class="block px-4 py-2 text-gray-900 hover:bg-gray-200"
        >
          <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
            Naturvinskassen
          </h4></a
        >

        <div
          id="mobileDropdownMenu"
          class="hidden bg-farvenavn-lysgraa rounded-lg"
        >
          <ul class="space-y-2 py-2 text-sm">
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                >Strakslevering</a
              >
            </li>
            <li>
              <a href="/faq" class="block px-4 py-2 hover:bg-gray-100">FAQ</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100">Kontakt</a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                >Betingelser</a
              >
            </li>
            <li>
              <a href="bestil" class="block px-4 py-2 hover:bg-gray-100"
                >Find dit abonnement</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a
          href="/konto"
          class="block px-4 py-2 text-gray-900 hover:bg-gray-200"
        >
          <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
            Login
          </h4></a
        >
      </li>
      <li>
        <a href="#" id="mobileToggleDrawer" class="block px-4 py-2">
          <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
            Kurv
          </h4></a
        >
      </li>
      <li>
        <a href="/bestil" class="block px-4 py-2">
          <h4 class="text-farvenavn-lilla hover:text-farvenavn-roed">
            Bestil
          </h4></a
        >
      </li>
    </ul>
  </div>
</div>

<div
  id="drawer"
  class="fixed top-12 right-0 z-40 w-64 h-screen bg-farvenavn-lysgraa transform translate-x-full transition-transform duration-300 ease-in-out"
>
  <div class="p-4">
    <h5 class="text-base text-farvenavn-lilla font-semibold uppercase">
      Kurv(0)
    </h5>
    <button
      id="closeDrawer"
      class="text-farvenavn-lilla bg-transparent rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5"
      >Luk</button
    >
  </div>
  <ul class="py-4 space-y-2 font-medium">
    <li>
      <a href="#" class="flex items-center p-2 rounded-lg group">
        <h3>Ser ud som at din kurv er tom...</h3>
      </a>
    </li>
    <li>
      <div class="max-w-xl">
        <a href="/bestil"
          ><Button variant="primary">Find dit abonnement</Button></a
        >
      </div>
    </li>
  </ul>
</div>

<div
  id="loginDrawer"
  class="fixed top-12 right-0 z-40 w-64 h-screen bg-farvenavn-lysgraa transform translate-x-full transition-transform duration-300 ease-in-out"
>
  <div class="p-4">
    <h1 class="text-xl font-bold text-center">Hej</h1>

    <form class="max-w-sm mx-auto">
      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium"></label>
        <input
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Din email"
          required
        />
      </div>
      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium"></label>
        <input
          type="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
          placeholder="Adgangskode"
        />
      </div>
      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <input
            id="remember"
            type="checkbox"
            value=""
            class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
            required
          />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium">Husk mig</label>
      </div>
      <div class="max-w-xl">
        <Button variant="primary">Log ind</Button>
      </div>
    </form>
    <p>Har du glemt din adgangskode? Klik her</p>
    <p>Har du ikke en konto? Tilmeld dig her</p>
  </div>

  <button
    id="closeLoginDrawer"
    class="text-farvenavn-lilla bg-transparent rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5"
    >Luk</button
  >

  <script>
    document.getElementById("hamburgerButton").addEventListener("click", () => {
      const mobileMenu = document.getElementById("mobileMenu");
      mobileMenu.classList.toggle("hidden");
    });

    document
      .getElementById("mobileDropdownLink")
      .addEventListener("click", (e) => {
        const mobileDropdownMenu =
          document.getElementById("mobileDropdownMenu");
        mobileDropdownMenu.classList.toggle("hidden");
      });

    document
      .getElementById("naturvinskassenDropdown")
      .addEventListener("click", (e) => {
        const dropdownMenu = document.getElementById("dropdownMenu");
        dropdownMenu.classList.toggle("hidden");
      });

    document.addEventListener("DOMContentLoaded", () => {
      const toggleDrawerButton = document.getElementById("toggleDrawer");
      const toggleLoginButton = document.getElementById("toggleLogin");
      const closeDrawerButton = document.getElementById("closeDrawer");
      const closeLoginButton = document.getElementById("closeLoginDrawer");
      const drawer = document.getElementById("drawer");
      const loginDrawer = document.getElementById("loginDrawer");

      toggleDrawerButton.addEventListener("click", (e) => {
        e.preventDefault();
        drawer.classList.remove("translate-x-full");
        drawer.classList.add("translate-x-0");
      });

      toggleLoginButton.addEventListener("click", (e) => {
        e.preventDefault();
        loginDrawer.classList.remove("translate-x-full");
        loginDrawer.classList.add("translate-x-0");
      });

      closeDrawerButton.addEventListener("click", () => {
        drawer.classList.add("translate-x-full");
        drawer.classList.remove("translate-x-0");
      });

      closeLoginButton.addEventListener("click", () => {
        loginDrawer.classList.add("translate-x-full");
        loginDrawer.classList.remove("translate-x-0");
      });
    });
  </script>
</div>
