---

---

<div class="p-5">
  <p>Header med midlertidlig links</p>
  <a href="/">logo/index</a>
  <a href="/omos" class='hover:underline"'> Om os </a>
  <a href="/betal" class="hover:underline"> Naturvinskassen </a>
  <a href="/login" class="hover:underline"> login </a>
  <a href="/betal" class="hover:underline"> Kurv </a>
  <a href="/bestil" class="hover:underline"> Bestil </a>
</div>
