---
import { Image } from "astro:assets";
import video from "../assets/images/hero1.webp";
---

<section class="mt-voresl">
  <div class="w-full ">
    <video
    autoplay
    loop
    muted
    class=""
  >
    <source src="herovideo.mp4" type="video/mp4" />
  </video>
  </div>
</section>

<style>
  .h-svh {
    height: calc(100vh - 12rem);
  }
</style>
