---
import { Image } from "astro:assets";
---

<section class="relative h-svh w-full bg-gul-200 flex flex-col justify-end z-0">
  <div class="w-full text-center pb-3">
    <h1 class="text-herotext text-gul-50">NATURVIN PÅ ABONNEMENT</h1>
  </div>
</section>

<style>
  .h-svh {
    height: calc(100vh - 12rem);
  }
</style>
