---

---

<section class="max-w-7xl mx-auto px-4 py-8">
  <div class="bg-blue-100 rounded-3xl p-6 shadow-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
      <div class="flex justify-center">
        <p>bilde her</p>
      </div>
      <div class="">
        <h2 class="">JOIN THE CLUB</h2>
        <p class="text-lg leading-relaxed">
          Modtag nøje udvalgte flasker med naturvin hver måned og udbred dine
          smagsoplevelser og viden omkring naturvin. Kom tæt på vinbønderne og
          få et autentisk indblik i den naturlige vinverden, måned efter måned.
          Du kan vælge mellem 2-6 flasker pr/mnd til en pris mellem 300-600
        </p>
        <p>knap her</p>
      </div>
    </div>
  </div>
</section>
