---
import { Image } from "astro:assets";
import logomanlight from "../assets/images/logomanlight.webp";
import Button from "../components/Button.astro";
import kryds from "../assets/images/x.webp";
---

<head>
  <meta charset="UTF-8" />
</head>

<article
  id="plus-popup"
  class="fixed top-0 left-0 w-full h-full flex justify-center items-center z-50 hidden"
>
  <div class="absolute inset-0 bg-opacity-50 backdrop-blur-sm z-40 mt-voresm">
  </div>

  <div
    class="bg-gul-100 p-0 max-w-5xl mx-auto relative flex rounded-3xl overflow-hidden z-50 border border-lilla-950"
  >
    <div class="flex-1 flex justify-center items-center bg-blaa-300">
      <Image src={logomanlight} alt="pil" class="w-32 h-38" />
    </div>

    <div class="flex-1 flex flex-col justify-center items-center bg-gul-50 p-6">
      <button
        id="close-popup-btn"
        class="text-lilla-950 bg-transparent rounded-lg text-sm absolute top-2.5 right-2.5 group"
      >
        <Image
          src={kryds}
          alt="luk"
          class="w-6 opacity-100 group-hover:opacity-0 transition-opacity"
        />
      </button>

      <h2 class="text-center font-bold my-voresxs">Hov, er du over 18 år?</h2>
      <div class="w-full">
        <div class="max-w-xl mx-auto text-center mt-4 pb-voresxs">
          <a href="/"><Button variant="secondary">Ja</Button></a>
          <a href="/"><Button variant="secondary">Nej</Button></a>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.onload = () => {
      const popup = document.getElementById("plus-popup");
      const closeButton = document.getElementById("close-popup-btn");

      setTimeout(() => {
        popup.classList.remove("hidden");
      }, 10);

      closeButton.addEventListener("click", () => {
        popup.classList.add("hidden");
      });
    };
  </script>
</article>
